<!-- User enters a username that is stored in the database with the correct password
        and is redirected to the /newpost page with their username being stored in a session.

User enters a username that is stored in the database with an incorrect password
        and is redirected to the /login page with a message that their password is incorrect.

User tries to login with a username that is not stored in the database
        and is redirected to the /login page with a message that this username does not exist.
        
User does not have an account and clicks "Create Account"
        and is directed to the /signup page. -->